body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkgrey;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}


h1 {
  color: #bd542b;
}

#board {
    display: grid;
    grid-template-columns: repeat(6, 50px);
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;    
    height: 50px;
    border: 1px solid black;
    background-color: lightgrey;
}

.tile.revealed {
  background-color: darkgrey;
}
